body {
  text-align: center;
  background-color: lightgray;
}

button {
  height: 20px;
  width: auto;
  padding: 20px;
  margin: 20px;
}

.index {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 5px;
  background-color: black;
}

#ajax-data div {
  padding: 20px;
  height: 100px;
  background-color: gray;
  width: 400px;
}

#carousel{
  display: flex;
  align-items: center;
  justify-content: center;
}
