body {
  text-align: center;
}

button {
  height: 20px;
  width: auto;
  padding: 20px;
  margin: 20px;
}

.index {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: black;
  margin: 5px;
}

#ajax-data{
  padding: 20px;
  height: 100px;
}
